* {
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

html {
    width: 100%;
}

ul {
    background-color: #D6AFDC;
    min-height: 100px;
}

li {
    padding: 20px;
    float: left;
    margin: 20px;
    list-style: none;
}

a {
    color: #fff;
    clear: both;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #1774df;
    padding: 20px;
}